[Unit]
Description=Daily autostart for puavo wirelessaccesspoints
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/sbin/amxa-ap-autostart
#ExecReload=/bin/kill -s HUP $MAINPID
#ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=300


[Install]
WantedBy=multi-user.target
